body {
    background-color: #F3F4F5;
    box-sizing: border-box;
}

.tabs-container {
    max-width: 70vw;
    margin: 0 auto;
}

.tabs-header {
    text-transform: none;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -40px;
}

.tabs-header__title {
    margin: 0 2px;
    background-color: #E3E9EC;
    padding: 15px;
    
}

.tabs-header__title--active {
    border-top: 2px solid #01A9AB;
    background-color: #fff;
}

.tabs-header__title > a {
    text-decoration: none;
    color: #2E4564;
    font-size: 16px;
    display: block;
    font-weight: bold;
    border: none;
}


.tabs-content {
   margin-top: -16px; 
}

.tabs-content__txt {
    background-color: #fff;
    padding: 20px;
    text-align: left;
    color: #10396B;
    display: none;
}

.tabs-content__txt--active {
    display: block;
}   