body {
    background-color: #F3F4F5;
    box-sizing: border-box;
}

.tabs-container {
    max-width: 70vw;
    margin: 0 auto;
}


.tabs-header {
    text-transform: none;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -40px;
}


.tabs-header__title > a{
    text-decoration: none;
    color: #10396B;
   
    background-color: #E3E9EC;
    padding: 15px;
    font-size: 14px;
    display: block;
}

.tabs-header__title:active,
.tabs-header__title:hover {
    border-top: 2px solid #01A9AB;
  
}
.tabs-header__title:active >a,
.tabs-header__title:hover >a {
    background-color: #fff;
}

.tabs-content {
   margin-top: -16px; 
}

.tabs-content__txt {
    display: none;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    color: #10396B;
}

 .active {
    display: block;
}